*{
    font-family: 'Lato', sans-serif;
}

.about {
    align-items: center;
}

.about-heading {
    text-align: center;
    font-size: 5rem;
    font-size: 45px;
    color: #364182;
    letter-spacing: 1px;
}

.content {
    text-align: justify;
    font-size: 20px;
    margin: 1rem auto;
    padding: 1rem 10rem;
}

span{
    font-size:25px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;

}