{% extends "layout.html" %} {% block body %}
<!-- google fonts -->

<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">

<!-- CSS link -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

</head>

<body>
    <!--Navbar -->

    <nav id="Nav">
        <a href="/"><img class="nav_logo" src="{{ url_for('static', filename='template/logo.svg') }}" alt="logo"></a>
        <ul class="nav-links" id="navLinks">
            <li><a href="/about">ABOUT</a></li>
        </ul>
        <i class="fas fa-ellipsis-v" onclick="togglebtn()"></i>
    </nav>
    <div class="about">
        <div class="about-heading">
            <h1 style="font-family: 'Oleo Script', cursive;">ABOUT</h1>
        </div>
        <div class="img">
            <img src="{{ url_for('static', filename='template/about.svg') }}" alt="about_img">
        </div>
        <div class="content">
            <p></p>

        </div>

    </div>


    {% endblock %}