{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
<!--Navbar -->

<nav id="Nav">
  <a href="/"><img class="nav_logo" src="{{ url_for('static', filename='template/logo.svg') }}" alt="logo"></a>
    <ul class="nav-links" id="navLinks">
      <li><a href="/document">DOCUMENTS</a></li>
      <li><a href="/upload">UPLOAD</a></li>
      <li><a href="/users">USERS</a></li>
    </ul>
    <i class="fas fa-ellipsis-v" onclick="togglebtn()"></i>
</nav>
{% endblock %}