{% extends "adminlayout.html" %} {% block body %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav" class="theme-sidenav">
        <nav class="sb-sidenav accordion " id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link sidenav" href="/admindashboard">
                        <div class="sb-nav-link-icon">
                            <i class="far fa-file-alt"></i>
                        </div>
                        Documents
                    </a>
                    <a class="nav-link sidenav" href="/upload">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-upload"></i></div>
                        Upload
                    </a>
                    <a class="nav-link sidenav" href="/users">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Users
                    </a>
                    <a class="nav-link sidenav" href="/conadmin" style="font-weight: 800;">
                        <div class="sb-nav-link-icon"><i class="far fa-address-book"></i></div>
                        Contacts
                    </a>

                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        ADMIN
                    </div>
        </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Contact</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">All Contacts</li>
                    </ol>


                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i> Contacts Table
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone No</th>
                                        <th>Message</th>
                                        <th>Date Time</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone No</th>
                                        <th>Message</th>
                                        <th>Date Time</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for contact in contact %}
                                    <tr>
                                        <td>{{contact.name}}</td>
                                        <td>{{contact.email}}</td>
                                        <td>{{contact.phone_num}}</td>
                                        <td>{{contact.msg}}</td>
                                        <td>{{contact.date}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>




            {% endblock %}