  {% extends "layout.html" %}
  {% block body %}

    <!-- CSS stylesheet link -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  </head>

  <body>

      <section class="landing_page" id="landing-page" style="background-image: url({{url_for('static', filename='template/book_img.svg')}})">

        <!--Navbar -->

        <nav id="Nav">
          <a href="/"><img class="nav_logo" src="{{ url_for('static', filename='template/logo.svg') }}" alt="logo"></a>
            <ul class="nav-links" id="navLinks">
              <li><a href="/search">SEARCH</a></li>
              <li><a href="/contact">CONTACT</a></li>
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/login">LOGIN</a></li>
            </ul>
            <i class="fas fa-ellipsis-v" onclick="togglebtn()"></i>
        </nav>

        <!-- Title -->

        <div class="textbox">
          <h1>{{params['landing_header']}}</h1>
          <p>{{params['landing_tagline']}}</p>
          <a href="/about" class="textbox-btn">LEARN MORE</a>
        </div>

      </section>

      <!-- Features -->
      <section class="features" id="feature">
        <div class="fea-header">Features</div>

        <div class="fea-card-wrap">

            <div class="fea-card">
              <div class="fea-inner">
                <a href="/search">
                <img class="card-img" src="{{ url_for('static', filename='template/search_img.svg') }}" alt="search_img">
              <div class="card-name">Search</div>
            </a>
            </div>
          </div>

            <div class="fea-card">
              <div class="fea-inner">
                <a href="/search">
                <img class="card-img" src="{{ url_for('static', filename='template/download_img.svg') }}" alt="download_img">
              <div class="card-name">Download</div>
            </a>
            </div>
          </div>

          <div class="fea-card">
            <div class="fea-inner">
              <a href="/admin">
              <img class="card-img" src="{{ url_for('static', filename='template/admin.svg') }}" alt="admin_img">
            <div class="card-name">Admin</div>
          </a>
          </div>
        </div>

        </div>

      </section>

      <!-- Semester -->

      <section class="semester" id="sem">
        <div class="wrapper">
          <div class="sem-header">Semester</div>

            <div class="card-wrap">

              <div class="card-item">
                <div class="card-inner">
                  <img src="{{ url_for('static', filename='template/num1.svg') }}" alt="num1">
                  <div class="sem-name">SEM</div>
                </div>
              </div>

              <div class="card-item">
                <div class="card-inner">
                  <img src="{{ url_for('static', filename='template/num2.svg') }}" alt="num1">
                  <div class="sem-name">SEM</div>
                </div>
              </div>

            <div class="card-item">
              <div class="card-inner">
                <img src="{{ url_for('static', filename='template/num3.svg') }}" alt="num1">
                <div class="sem-name">SEM</div>
              </div>
            </div>

            <div class="card-item">
              <div class="card-inner">
                <img src="{{ url_for('static', filename='template/num4.svg') }}" alt="num1">
                <div class="sem-name">SEM</div>
              </div>
            </div>

            <div class="card-item">
              <div class="card-inner">
                <img src="{{ url_for('static', filename='template/num5.svg') }}" alt="num1">
                <div class="sem-name">SEM</div>
              </div>
            </div>

            <div class="card-item">
              <div class="card-inner">
                <img src="{{ url_for('static', filename='template/num6.svg') }}" alt="num1">
                <div class="sem-name">SEM</div>
              </div>
            </div>

            <div class="card-item">
              <div class="card-inner">
                <img src="{{ url_for('static', filename='template/num7.svg') }}" alt="num1">
              <div class="sem-name">SEM</div>
              </div>
            </div>

            <div class="card-item">
              <div class="card-inner">
                <img src="{{ url_for('static', filename='template/num8.svg') }}" alt="num1">
              <div class="sem-name">SEM</div>
              </div>
            </div>

        </div>

      </section>

      {% endblock %}