{% extends "layout.html" %}
{% block body %}
  <!-- CSS stylesheet link -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">

</head>

<body>

    <!--Navbar -->

    <nav id="Nav">
      <a href="/"><img class="nav_logo" src="{{ url_for('static', filename='template/logo.svg') }}" alt="logo"></a>
        <ul class="nav-links" id="navLinks">
          <li><a href="/search">SEARCH</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
        <i class="fas fa-ellipsis-v" onclick="togglebtn()"></i>
    </nav>
        
            <!-- Title -->
        
            <div class="search-container">
                <h2 class="header">Search notes in one step</h2>
                <div class="search_bar">
                    <form action="">
                    <div class="search-sem col-lg-6">
                        <label for="">SEMESTER</label>
                        <input type="text" placeholder="Ex:1,2,..,8">
                    </div>
                    <div class="search-sem col-lg-6">
                        <label for="">SUBJECT</label>
                        <input type="text" placeholder="Subject Name">
                    </div>
                    <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                </div>
        

                {% endblock %}